:root {
    --blanco: #ffffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097A7;
    --gris: #757575;
    --fuenteprincipal: 3.8rem;

}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    /* 1 rem = 1o px*/
    font-family: 'Krub', sans-serif;

}
h1{
    font-size: var(--fuenteprincipal);
    text-align: center;
}
h2{
    font-size: 2.8rem;
    text-align: center;
}
h3{
    font-size: 1.8rem;
    text-align: center;
}

.titulo {
    text-align: center;
}

.titulo span {
    font-size: 2rem;
    color: var(--oscuro);
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

.nav-gb{
    background-color: #0097A7;

}

.navegacion-Principal{
    background-color: #0097A7;
    display: flex;
    flex-direction: column;

}
@media (min-width: 768px) {
    .navegacion-Principal{
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-Principal a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;   
    display: block;
    text-align: center;
}

.navegacion-Principal a:hover{
    background-color: var(--primario);
    color: #212121;
}
.hero{
    background-image:url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
}
.contenido-hero{
    position: absolute;
    background-color: rgb(0,0,0, .5);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenido-hero h2, .contenido-hero p {
    color: var(--blanco);
}
.ubicacion{
    display: flex;
    align-items: center;
}
.boton{
    background-color: #ffc107;
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
}
@media (min-width: 480px) {
    .boton{
        width: auto;
    }
}